version: "3.8"

services:
  web:
    build: .
    container_name: admin-front
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - VITE_API_URL=http://backend:5050
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
